@tailwind base;
@tailwind components;
@tailwind utilities;


.tagCardMobile::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

.tagCardMobile::-webkit-scrollbar-thumb {
    background: #fcd34d;
}



.tagCardPc::-webkit-scrollbar {
    width:4px;
    height: 4px;
}

.tagCardPc::-webkit-scrollbar-thumb {
    background: #fcd34d;
}


@media (max-width: 940px) {
    .tagCardPc {
        display: none;
    }
}

/* 코드 블럭에 줄 번호 추가하는 코드 */
code {
    counter-reset: line;
  }
   
  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
   
    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
  }
   
  code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
  }
   
  code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
  }
